@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
	--borderSize: solid 25px white;
	--backgroundColor: whitesmoke;
	--cellColor: #f15bb5;
	--cellHoverColor: #fee440;
	--titleColor: whtiesmoke;
	font-family: "Lato", sans-serif;
}

body {
	height: 100vh;
	background-color: var(--backgroundColor);
}

.container {
	height: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". title ."
		". main ."
		". footer .";
}

.game {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 128px;
	background-color: var(--cellColor);
	border-radius: 15px;
	transition: 0.2s;
	box-shadow: 3px 3px #9b5de5;
}
.cell.stopclick {
	pointer-events: none;
}

.cell:hover {
	background-color: var(--cellHoverColor);
}

.main {
	grid-area: main;
	height: 100%;
}

.title,
footer,
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	grid-area: title;
	font-size: 80px;
	font-weight: 900;
	color: var(--titleColor);
	text-shadow: 3px 4px #f15bb5;
}
footer {
	grid-area: footer;
	flex-direction: column;
}
footer p {
	margin: 0.3em;
}

.win-txt {
	font-size: 48px;
	font-weight: bold;
}

.play-again.active {
	font-size: 32px;
	font-weight: 700;
	padding: 10px;
	background-color: var(--cellColor);
	color: white;
	transition: all 0.5s;
	border-radius: 10px;
	animation-iteration-count: infinite;
	animation: example 6s infinite;
}

.play-again:hover {
	transform: scale(1.05);
}

@keyframes example {
	0% {
		background-color: #9b5de5;
	}
	50% {
		background-color: #f15bb5;
	}
	100% {
		background-color: #9b5de5;
	}
}
